#wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    max-width: 1414px;
}

.caps {
    text-transform: uppercase;
}

img, object, video, embed {
    max-width: 100%;
}

header {
    margin-right: 1.041667%;  /* 10 ÷ 960 */
    margin-left: 1.041667%;  /* 10 ÷ 960 */
    width: 97.91667%; /* 940 ÷ 960 */
}

nav {
    padding-bottom: 25px; 
    margin-top: 26px; 
    margin-left: -1.0416667%; /* 10 ÷ 960 */ 
    padding-right: 1.0416667%; /* 10 ÷ 960 */ 
    padding-left: 1.0416667%; /* 10 ÷ 960 */ 
    width: 72.7083333%;
    background-repeat: repeat-x;  
    border-bottom-color: #bfbfbf; 
    border-bottom-style: double;
    border-bottom-width: 4px; 
}

nav ul li { 
    display: inline-block;
    margin-right: 2.6595745%; /* 25 ÷ 940 */    
}

nav ul li a { 
    height: 42px; 
    line-height: 42px; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: Arial, "Lucida Grande", Verdana, sans-serif; 
    font-size: 1.6em;  
    color: black; 
  }

aside {
    border-right-color: #e8e8e8;
    border-right-style: solid;
    border-right-width: 2px;
    margin-right: 1.041667%;  /* 10 ÷ 960 */
    margin-left: 1.041667%;  /* 10 ÷ 960 */
    float: left;
    width: 22.798333%;
}

.sideBlock img {
    max-width: 45%;
}

.oscarMain { 
    float: left;
    /*margin-right: 30px; */
    margin-top: 28px; 
    width: 28.9398281%; /* 698 ÷ 202 */
    /*height: 394px;*/ 
    max-width: 202px;
}

#content {
    margin-right: 1.041667%;  /* 10 ÷ 960 */
    float: right;
    margin-left: 1.041667%;  /* 10 ÷ 960 */
    width: 72.708333%;
}

#content h1 { 
    font-family: Arial, Helvetica, Verdana, sans-serif; 
    text-transform: uppercase; 
    font-size: 4.3125em;  /* 69 ÷ 16 */
}

#content h1 span { 
    display: block; 
    line-height: 1.052631579em; /* 40 ÷ 38 */ 
    color: #757474; 
    font-size: .550724638em; /* 38 ÷ 69 */
}

footer {
    float: left;
    margin-right: 1.041667%;  /* 10 ÷ 960 */
    margin-left: 1.041667%;  /* 10 ÷ 960 */
    clear: both;
    width: 97.91667%; /* 940 ÷ 960 */
}

@media screen and (max-width: 768px) {
    #wrapper,header,footer,nav {
        width: 768px; 
        margin: 0px;
    }  
    #logo { 
        text-align: center; 
        display: block;
        padding-top: 75px;
        color: #0d0c0c;
        text-transform: uppercase;
        font-family: Arial, "Lucia Grande", Verdana, sans-serif;
        font-size: 3em;
    }
    #logo span {
        color: #dfdada;
    }
    nav { 
        text-align: center; 
        background-image: none;
        border-top-color: #bfbfbf; 
        border-top-style: double; 
        border-top-width: 4px; 
        padding-top: 20px;
    }
    nav ul li a { 
        background-color: #dedede; 
        line-height: 60px; 
        font-size: 3em; 
    }
    #content, aside { 
        margin-top: 20px; 
        padding-right: 10px; 
        padding-left: 10px; 
        width: 728px;
    }
    .oscarMain { 
        float: left;
        /*margin-right: 30px; */
        margin-top: -28px; 
        width: 28.9398281%; /* 698 ÷ 202 */
        /*height: 394px;*/ 
    }
    aside { 
        border-right: none; 
        border-top: 2px solid #e8e8e8; 
        padding-top: 20px; 
        margin-bottom: 20px; 
    }
    .sideBlock { 
        width: 46%; 
        float: left; 
    }
    .overHyped { 
        margin-top: 0px; 
        margin-left: 50px; 
    }
}

@media screen and (min-width: 1001px) and (max-width: 1080px) {   
    nav ul li a { 
        font-size: 1.4em; 
    }
}
    
@media screen and (min-width: 805px) and (max-width: 1000px) {
    nav ul li a {
        font-size: 1.25em;
    }
}

@media screen and (min-width: 769px) and (max-width: 804px) {
    nav ul li a {
        font-size: 1.1em;
    }
}
