/* This is the normalization, courtesy of Nicholas Gallagher, to 'normalize' the behaviour of various browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 97%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* CSS */

body {
    display:table;
    background: url(../imgs/grunge.jpg) repeat;
    background-color: hsla(0, 0%, 100%, 0.5);
    box-shadow:inset 0 0 30px #000000;
    margin: 0% 0%;
    height: 130vh;
}

/* This underlines the current active navigation link on larger viewports */

#home nav[role="navigation"] li:nth-child(1),#about nav[role="navigation"] li:nth-child(2),#offline nav[role="navigation"] li:nth-child(3),#redemptionPage nav[role="navigation"] li:nth-child(4),#video nav[role="navigation"] li:nth-child(5),#quiz nav[role="navigation"] li:nth-child(6) {
	text-decoration: underline;
}

a {
	color: #666;
	transition: all 0.7s;
}
a:hover {
	color: #000;
}

img[alt^="film"] {
	border: 3px dashed #e15f5f;
}

#wrapper {
    display: table-row;
    margin-right: auto;
    margin-left: auto;
    width: 96%;
    max-width: 100vw;
    height: 130vh;
}

.caps {
    text-transform: uppercase;
}

img, object, video, embed {
    max-width: 100%;
    height: auto;
}

header {
    margin-right: 1.041667%;  /* 10 ÷ 960 */
    margin-left: 1.041667%;  /* 10 ÷ 960 */
    width: 97.91667%; /* 940 ÷ 960 */
}

#logo { 
	display: block; 
	padding-top: 75px; 
	color: #0d0c0c; 
	text-transform: uppercase; 
	font-family: 'BebasNeueRegular'; 
	font-size: 3em; /* 48 ÷ 16 = 3*/
}

#logo span { 
	color: #dfdada; 
}

nav { 
    font-size: 0.4em !important;
	display: table; 
	margin-bottom: 25px; 
	margin-top: 26px; 
	padding-right: 1.0416667%; /* 10 ÷ 960 */ 
	padding-left: 1.0416667%; /* 10 ÷ 960 */ 
	width: 97.9166667%; /* 940 ÷ 960 */ 
	background: linear-gradient(top, hsla(0,0%,100%,0.11) 0%,hsla(0,0%,94%,0.11) 10%,hsla(0,0%,84%,0.11) 22%,hsla(0,0%,62%,0.11) 41%,hsla(0,0%,38%,0.11) 61%,hsla(0,0%,22%,0.11) 76%,hsla(0,0%,10%,0.11) 88%,hsla(0,0%,1%,0.11) 100%);
	border-bottom-color: #bfbfbf; 
	border-bottom-style: double; border-bottom-width: 4px; 
}
/* because we are using Modernizr we can provide a 'fork' style here for IE as it doesn't understand css gradients (as of v9 and below) */ 
.-ms- nav {
	padding-bottom: 25px; 
	margin-top: 26px; 
	background-repeat: repeat-x; 
	background-image: url(../img/atwiNavBg.png); 
}
nav ul {
	display: table-row;
	width: 100%;
}
nav ul li { 
	text-align: center; 
	display: table-cell;
	margin-left: 1.3%;
	margin-right: 1.3%;
}
nav ul li:last-child {
	text-align: right;
}
nav ul li:first-child {
	text-align: left;
}
nav ul li a { 
	height: 42px;
	text-decoration: none; 
	text-transform: uppercase;  
	color: black; 
	text-shadow: 0 1px 0 hsla(0, 0%, 100%, 1.0);
	font: 1.875em/42px 'BebasNeueRegular';
	display: block;	
}
nav ul li a:hover {
	animation: warning 1.5s infinite ease-in;
}
nav ul li:nth-child(odd) a {
	color: fe0208;
	color: hsl(359, 99%, 50%);
}
nav ul li:nth-child(odd) a:hover {
	color: hsl(359, 99%, 40%);
}

aside {
    border-right-color: #e8e8e8;
    border-right-style: solid;
    border-right-width: 2px;
    margin-right: 1.041667%;  /* 10 ÷ 960 */
    margin-left: 1.041667%;  /* 10 ÷ 960 */
    float: left;
    width: 22.798333%;
}

.sideBlock img {
    max-width: 45%;
    box-shadow: 0px 3px 5px #444444;
}

.unSung a:nth-child(odd) img {
    transform: rotate(3deg);
    animation: swing 0.1s 5 ease-in;
}

.unSung a:nth-child(even) img {
    transform: rotate(-3deg);
    animation: swing 0.1s 5 0.3s ease-in;
}

.overHyped a:nth-child(odd) img {
    transform: rotate(3deg);
    animation: swing 0.1s 5 0.2s ease-in;
}

.overHyped a:nth-child(even) img {
    transform: rotate(-3deg);
    animation: swing 0.1s 5 0.5s ease-in;
}

.oscarMain { 
    float: left;
    margin-top: 28px; 
    width: 28.9398281%; /* 698 ÷ 202 */
    max-width: 202px;
}

#content {
    margin-right: 1.041667%;  /* 10 ÷ 960 */
    float: right;
    margin-left: 1.041667%;  /* 10 ÷ 960 */
    width: 72.708333%;
    height: 100%;
}

#content h1 { 
    font-family: Arial, Helvetica, Verdana, sans-serif; 
    text-transform: uppercase; 
    font-size: 4.3125em;  /* 69 ÷ 16 */
    font-family: 'BebasNeueRegular';
    font-size: 6.375em; /* 102 ÷ 16 */
    text-shadow: 0px 1px #ffffff,4px 4px 0px #dad7d7;
}    

#content h1 em { 
    font-family: 'BitstreamVeraSansRoman';
    display: block;
    line-height: 1.052631579em; /* 40 ÷ 38 */ 
    color: #757474;
    font-size: .352941176em; /* 36 ÷ 102 */
    text-shadow: none;
}

#content h1 span { 
    display: block; 
    line-height: 1.052631579em; /* 40 ÷ 38 */ 
    color: #757474; 
    font-size: .550724638em; /* 38 ÷ 69 */
}

#content a {
    text-decoration: none;
    text-transform: uppercase;
    font: 2.25em /* 36px ÷ 16 */ 'BebasNeueRegular';
    background-color: #b01c20;
    border-radius: 8px;
    color: white;
    padding: 30px;
    float: left;
    background: linear-gradient(90deg, #b01c20 0%, #f15c60 100%);
    margin-top: 30px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 26.6667%, 0.8);
    text-shadow: 0px 1px black;
    border: 1px solid #bfbfbf;
    transition: all 1s ease 0s;
}

#content a:hover {
    border: 1px solid #000000;
    color: #000000;
    text-shadow: 0px 1px white;
}

#content a span {
    font-size: 1.3em;
}

footer {
    float: left;
    margin-right: 1.041667%;  /* 10 ÷ 960 */
    margin-left: 1.041667%;  /* 10 ÷ 960 */
    clear: both;
    width: 97.91667%; /* 940 ÷ 960 */
}

@media screen and (max-width: 768px) {
    #wrapper,header,footer,nav {
        width: 768px; 
        margin: 0px;
    }  
    #logo { 
        text-align: center; 
        display: block;
        padding-top: 75px;
        color: #0d0c0c;
        text-transform: uppercase;
        font-family: Arial, "Lucia Grande", Verdana, sans-serif;
        font-size: 3em;
    }
    #logo span {
        color: #dfdada;
    }
    nav { 
        text-align: center; 
        background-image: none;
        border-top-color: #bfbfbf; 
        border-top-style: double; 
        border-top-width: 4px; 
        padding-top: 20px;
    }
    nav ul li a { 
        background-color: #dedede; 
        line-height: 60px; 
        font-size: 3em; 
    }
    #content, aside { 
        margin-top: 20px; 
        padding-right: 10px; 
        padding-left: 10px; 
        width: 728px;
    }
    .oscarMain { 
        float: left;
        /*margin-right: 30px; */
        margin-top: -28px; 
        width: 28.9398281%; /* 698 ÷ 202 */
        /*height: 394px;*/ 
    }
    aside { 
        border-right: none; 
        border-top: 2px solid #e8e8e8; 
        padding-top: 20px; 
        margin-bottom: 20px; 
    }
    .sideBlock { 
        width: 46%; 
        float: left; 
    }
    .overHyped { 
        margin-top: 0px; 
        margin-left: 50px; 
    }
}

@media screen and (min-width: 1001px) and (max-width: 1080px) {   
    nav ul li a { 
        font-size: 1.4em; 
    }
}
    
@media screen and (min-width: 805px) and (max-width: 1000px) {
    nav ul li a {
        font-size: 1.25em;
    }
}

@media screen and (min-width: 769px) and (max-width: 804px) {
    nav ul li a {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 300px) and (max-width: 400px) {
	#logo {
		font-size: 1.5em;
	}
}

@media screen and (min-width: 300px) and (max-width: 600px) {
	.Qcontainer {
		width: 100%;
		clear: left;
	}
	.film {
		height: 28em;
	}
	#wrapper {
		margin: 0px;
		width: 100%;
	}
	#content li {
		margin-top: 3px;
		font: 1.25em 'BebasNeueRegular';
	}
	nav ul li {
		margin: 0px;
		font-size: 0.9em;
		line-height: 0.8em;
	}
	nav ul li a {
		margin: 0px;
	}
	nav ul li a:hover {
		margin-left: 5%;
		background-color: #d6d5d5;
		padding-left: 2%;
	}
	#content h1 {
		font-size: 3em;
		text-shadow: 0 1px white, 2px 2px 0 #DAD7D7;
	}
	#content h2 {
		font-size: 1.2em;
	}
	#content p {
		font-size: 1.1em;
		line-height: 1.3em;
	}
	#content a.button {
		font-size: 1.2em;
		width: 94%;
		margin-top: 2%;
		text-align: center;
	}
	img.oscarMain {
		height: auto;
		width: 19%;
		margin-right: 1%;
	}
	#redemption input#submit {
		font-size: 1em;
	}
}

@media screen and (min-width: 475px) and (max-width: 600px) {
	#content h1 {
		font-size: 5em;
		text-shadow: 0 1px white, 2px 2px 0 #DAD7D7;
	}
	#content h1 em {
		font-size: 0.4em;
		
	}
	#content h2 {
		font-size: 2.5em;
	}
	#content p {
		font-size: 1.25em;
		line-height: 1.3em;
	}
	#content a.button {
		font-size: 1.8em;
		width: 94%;
		margin-top: 2%;
		text-align: center;
	}
}

@media screen and (max-width: 600px) {
	
	nav {
		display: block;
		background: none;
	}
	nav ul {
		 display: block;
	}
	nav ul li {
		display: list-item;
		color: red;
		text-align: left;
	}
	nav ul li:first-child,nav ul li:last-child {
		text-align: left;
	}
}


@media screen and (max-width: 768px) {
	#body {width: 96%; margin: 2%; padding: 0px; margin-bottom: 0px;
	}	
	#logo { text-align:center; }
	
	#content,aside { margin-top: 20px; width: 96%;margin: 2%;}
	.oscarMain { margin-right: 30px; margin-top: 0px; width: 20%; height: 394px; }
	aside { border-right: none; border-top: 2px solid #e8e8e8; padding-top: 20px; margin-bottom: 20px; }
	.sideBlock { width: 96%; margin: 2%; }
	.overHyped { margin-top: 0px; }
}

@media screen and (min-width: 1000px) {
	#content h1 {
		font-size: 8em;
	}
	#content p {
		font-size: 2.3em;
		line-height: 1.2em;
		margin-top: 1%;
	}
}

/* These are @font-tace files, from font-squirrel */

@font-face {
    font-family: 'BitstreamVeraSansRoman';
    src: url('../fonts/Vera-webfont.eot');
    src: url('../fonts/Vera-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vera-webfont.woff') format('woff'),
         url('../fonts/Vera-webfont.ttf') format('truetype'),
         url('../fonts/Vera-webfont.svg#BitstreamVeraSansRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('../fonts/ColabThi-webfont.eot');
    src: url('../fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ColabThi-webfont.woff') format('woff'),
         url('../fonts/ColabThi-webfont.ttf') format('truetype'),
         url('../fonts/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes swing {
    from {
        transform: rotate(3deg);
    }
    20% {
        transform: rotate(7deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(7deg);
    }
    to {
        transform: rotate(3deg);
    }
}